.homeContainer {
  /* height: 100%; */
  flex: 1;

  position: relative;

  overflow-x: hidden;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
}

.blurOverlay {
  /* background-color: transparent;
  backdrop-filter: blur(6rem);
  flex: 1;

  position: relative;

  z-index: 2;
  height: 100%;

  padding: 2rem 2rem; */

  background-color: transparent;
  backdrop-filter: blur(6rem);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 2;
}

.homeContentContainer {
  /* position: absolute; */
  background-color: transparent;

  z-index: 3;

  margin: 1rem 2.5rem;
  flex: 1;
  width: calc(100% - 5rem);
  /* height: calc(100% - 2rem); */
}

@media (max-width: 500px) {
  .homeContentContainer {
    margin: 1rem 0.75rem;
    width: calc(100% - 1.5rem);
  }
}
