.postPageContainer {
  flex: 1;
  padding: 1rem 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
}

.postAndCommentsContainer {
  max-width: 70ch;
}

.postAndCommentsContainer svg {
  stroke-width: 15%;
  translate: 0rem 0.125rem;
  margin-top: 1rem;

  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.postPageContainer h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.title {
  margin: 1rem 0rem 0.25rem 0rem;
}

.postContainer {
  margin-bottom: 2rem;
}

.postHeadingContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 2rem;
}

.divider {
  border: 0;
  height: 1px;
  background-color: var(--color-secondary-border);
}

.markdown {
  text-wrap-style: pretty;
  line-height: 1.5rem;
}

.markdown a {
  display: inline;
  color: var(--color-primary-accent);
  text-decoration: underline;
}

.markdown a:hover {
  color: var(--color-primary-accent);
  text-decoration: none;
}

.markdown p {
  margin-bottom: 0.5rem;
}

.markdown blockquote {
  font-style: italic;
  border-left: 0.33rem solid var(--color-primary-accent);
  padding-left: 1rem;
  margin: 0.5rem 0;
}

.markdown img {
  max-width: 100%;
  height: auto;
  border-radius: 0.15rem;
  transition: transform 0.25s ease;
}

.markdown img:hover {
  transform: scale(1.015);
}

.markdown hr {
  border: 0;
  height: 1px;
  background-color: var(--color-secondary-border);
  margin: 1rem 0rem;
}

@media (max-width: 500px) {
  .postPageContainer {
    padding: 1rem 0.75rem;
  }

  .postAndCommentsContainer {
    min-width: 100%;
  }
}
