.cursorEffect {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: transform 0.025s ease-out;

  /* background-image: radial-gradient(
    circle,
    rgba(255, 50, 50, 0.8) 0%,
    rgba(255, 0, 0, 0.9) 30%,
    rgba(255, 0, 0, 0.1) 70%
  ); */

  box-shadow: 0 0 25px 5px rgba(255, 0, 0, 0.8), 0 0 50px 15px rgba(255, 0, 0, 0.5), 0 0 80px 25px rgba(255, 0, 0, 0.2);

  will-change: transform, box-shadow, background-image;
}
