.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33vh;

  height: 100vh;

  gap: 1rem;
}

.main h1 {
  color: var(--color-primary-accent);
  margin: 0;
  font-size: 10rem;
}

.main h3 {
  font-size: 2rem;
  margin: 0;
}

.main a {
  font-size: 1.5rem;
  font-weight: 500;
}
